//CREATE MENU 
.create-menu {
  width: 300px; 
  color: grey; 
  padding-top: 10px;
  hr{
     margin-top: 10px; 
     margin-bottom: 10px; 
  }
}

.create-menu-item{
  padding: 6px 10px 10px; 
  &:hover {
    background-color: #F64747; 
    span {
      color: white;   
    }
  }
  a { 
    color: black; 
    display: block; 
    font-size: 13px; 
    font-weight: 700; 
    cursor: pointer; 
    text-decoration: none; 
  } 
  span {
    display: block; 
    font-size: 13px; 
    color: grey;  
    font-weight: 400; 
  }
  li {
    text-align: left;  
  }
}
