@import 'settings'; 
@import 'bootstrap'; 
@import 'font-awesome'; 
@import 'spinners/11-folding-cube'; 

body {
  font-family: 'Roboto', sans-serif;
  background-color: #DADFE1; 
}

//LOGIN FORM 
/* Portrait and Landscape */
.login-form {
  margin-top: 30px; 
}
.register-form {
  margin-top: 30px; 
}

// @media only screen 
//   and (min-device-width: 300px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 
//   .login-form {
//     margin-top: 0; 
//   }
//   .register-form {
//     margin-top: 0; 
//   }
// }
// HEADERBAR
.header span{
    font-size: 18px;
    color: white; 
}
.navbar{
  z-index: 10; 
}
.title{
  padding-left: 60px; 
}
.navbar-default {
    background-color: #F64747; 
    .navbar-brand {
      color: white;
    }
}
// SIDEBAR
.page-with-sidebar{
  padding-left: 62px; 
  padding-top: 50px; 
}

.sidebar-wrapper{
  background: #2b333d;
  width: 62px; 
  position: fixed;
  top: 0px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  height: 100%;
  transition-duration: .3s;
  z-index: 99; 
}
.logo span{
  margin-top: 5px; 
  font-size: 40px; 
  color: #dadfe1; 
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent; 
}
.nav-sidebar{
  margin-top: 35px; 
  margin-bottom: 100px;
  transition-duration: .3s; 
  list-style: none; 
  overflow: hidden;
  a {
    text-align: center;  
    color: #FFF;
    &:hover{
      color: #F64747;   
    }
    &:active{
      color: #F64747; 
    }
  }
  span {
    font-size: 20px; 
  }
  li {
    padding-top: 10px; 
  }
}

.nav {
  padding-left: 0;  
  padding-top: 0px;
}

.content-wrapper {
    width: 100%;    
}
.vertical-center{
  text-align: center; 
  align-items: center;
}
//FOOTER 
.footer{
  text-align: center;    
  p {
    font-size: 14px; 
  }
}
// SPINNER
.spinner {
  position: absolute; 
  z-index: 100; 
  margin-right: auto; 
  margin-left: auto; 
  left: 0; 
  right: 0; 
}
//PADLOCK TEXT 
.padlock{
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 200px; 
}

