@import 'settings'; 
@import 'bootstrap'; 
@import 'font-awesome'; 

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
//LOGIN FORM 
/* Portrait and Landscape */
.login-form {
  margin-top: 100px; 
}
.register-form {
  margin-top: 100px; 
}
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .login-form {
    margin-top: 0; 
  }
  .register-form {
    margin-top: 0; 
  }
}
// HEADERBAR
.header span{
    font-size: 18px;
}
.navbar{
  z-index: 0; 
}
.title{
  padding-left: 60px; 
}
// SIDEBAR
.page-with-sidebar{
  padding-left: 62px; 
  padding-top: 50px; 
}

.sidebar-wrapper{
  background: #2b333d;
  width: 62px; 
  position: fixed;
  top: 0px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  height: 100%;
  transition-duration: .3s;
  z-index: 99; 
}
.logo span{
  margin-top: 5px; 
  font-size: 40px; 
  color: #3688e4; 
}
.nav-sidebar{
  margin-top: 35px; 
  margin-bottom: 100px;
  transition-duration: .3s; 
  list-style: none; 
  overflow: hidden;
  a {
    text-align: center;  
    color: #c5d0de;
  }

  span {
    font-size: 20px; 
  }
  li {
    padding-top: 10px; 
  }
}

.nav {
  padding-left: 0;  
  padding-top: 0px;
}

.content-wrapper {
    width: 100%;    
}
.vertical-center{
  text-align: center; 
  align-items: center;
}
//FOOTER 
.footer{
  text-align: center;    
  p {
    font-size: 14px; 
  }
}
// SPINNER
.spinner {
    text-align: center; 
    paddint-top: 100px; 
    background-color: blue; 
    // position: absolute;
    // top: 0; 
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: rgba(255,255,255,0.9);
    // zIndex: 1000;
}
.fa-spin {
    font-size: 150px; 
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite cubic-bezier(.6,.04,.98,.34);  
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
//LOGIN CARD
// .login-card-form {
// }
.bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.delete-link {
  // margin-left: 1.35em; 
  // color: #FF5323;
}

