.group-menu{
  width: 320px;
  height: 100%;
  padding: 45px 10px;
  background-color: white;
}

.group-menu-heading{
  text-align: center;
  margin: 10px; 
}

.group-search-member-input{
  padding-right: 10px; 
  float: left;
  width: 260px;
}

.clearfix{
  clear:both;
}

.group-delete-member{
}
